@charset "UTF-8";

/* Propriedades que se aplicam a todos os elementos da página. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    letter-spacing: 1px;
    font-family: "Sansbeambody Bold", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	display: flex;
	flex-wrap: wrap;
    overflow-x: hidden;

	/* Junção de flex-grow, flex-shrink e flex-basis.  */
	/* flex-grow – Habilidade de um flex item crescer. */
	/* flex-shrink - Capacidade de redução do item.    */
	/* flex-basis – Tamanho inicial do item.           */
	flex: 1 1 100vw;
	margin: 2px;
}

header {
    display: flex;
	flex: 1 1 100vw;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
}

header #logo {
	display: flex;
	align-items: center;
    width: 80px;
    height: 32px;
    flex: 0 1 100px;
    margin-top: 15px;
    margin-left: 120px; /* Adicione margem à esquerda */
    margin-right: 10px; /* Adicione margem à direita */
    align-self: center; /* Alinhe verticalmente ao centro */
    font-size: 16px;
    vertical-align: middle;
    
}

#openMenu, #closeMenu {
	border: none;
	background: none;
	font-size: 30px;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
	display: none;
}

nav {
    display: flex;
	justify-content: flex-end;
	align-items: center;
	flex: 1 1 200px;
}

nav a {
	margin: 0 3%;
	font-size: 13pt;
    font-weight: 500;
}

.estude-na-afya {
    background-color: rgb(206, 0, 86); /* Define a cor de fundo */
    padding: 10px 15px; /* Adiciona um espaçamento interno para o texto */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    color: #fff; /* Define a cor do texto */
    text-decoration: none; /* Remove sublinhado padrão do link */
    
}

/* Altera o estilo dos elementos para serem apresentados */ 
/* em telas menores que 717px. */
@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	#openMenu {
		margin-left: auto;
	}

	#closeMenu {
		position: fixed;
		right: 15px;
		top: 15px;
	}

	nav {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(255, 255, 255, 0.9);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		display: none;
		opacity: 0;
		transition: 0.3s;
	}

	nav a {
		margin: 3%;
        font-weight: bold;
	}
}


main {
	flex: 20 1 500px;
	display: flex;
	margin: 1px;
    align-items: center;
    justify-content: center;

}

.fundo{
    width: 400px;
    height: 480px;
    background: linear-gradient(45deg, #ff0051, #912b4a);
    background-size: 800%;
    animation: animar 5s infinite;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

@keyframes animar {
    0%, 100%{
        background-position: 0%, 50% ;
    }
    50%{
        background-position: 100%, 50% ;
    }
}

.form-box h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }

  .input-box {
    display: flex;
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin-top: 50px;
    position: relative;
}

.input-box label {
    display: flex;
    position: absolute;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .10s;
    margin-top: 15px;
    align-self: flex-start; /* Adicionado align-self */
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    color: #000000;
    top: -30px;
    transition: 0.5s;
}

/* tirar o autocomplete background */
.input-box input:-webkit-autofill {
    -webkit-background-clip: text;
}


/* trocar a cor da letra do autocomplete para branco */
.input-box input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

.input-box input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
}

.btn{
    margin-top: 50px;
    width: 100%;
    height: 45px;
    background: linear-gradient(45deg, #ff0051, #912b4a);
    animation: btn 5s infinite;
    background-size: 800%;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    font-weight: 500;
  }
  

@keyframes btn {
    0%, 100%{
        background-position: 0%, 50% ;
    }
    50%{
        background-position: 100%, 50% ;
    }
}

  .btn a{
    text-decoration: none;
  }
  
  .btn:hover{
    background-color: #162938;
    color: #fff;
  }

footer {
	flex: 1 1 100vw;
    display: flex;
}

.rodape{
    width: 98.5vw;
    height: 45vh;
}
